* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: black;
    align-items: center;
    height: 50px;
}

/* ---------------------- LOGO SITE------------------------- */
.box1 a>img {
    width: 100px;
    margin: 0 75px;
}

/* ----------------------Menu meio------------------------- */
.box2 ul li {
    list-style: none;
    font-family: "Arial";

}

.box2 ul li>a {
    text-decoration: none;
    font-family: "Arial";
    font-weight: bold;
    margin: 10px;
    color: white;
    transition: all 0.2s linear;
}

.box2 ul li>a:hover {
    color: #B5E72E;
}

.box2 ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* ------------------------Criar conta e entrar-------------------------------- */
.box3 li a {
    text-decoration: none;
    font-family: "Arial";
    font-weight: bold;
    margin: 10px;
    color: white;
    transition: all 0.2s linear;
}

.box3 ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box3 ul li {
    list-style: none;
}

/* ---------------------botão criar conta------------------------- */
.button2>a {
    border: 1px solid #B5E72E;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.button2>a:hover {
    background-color: #B5E72E;
    color: black;
}

.button1>a:hover {
    color: #B5E72E;
}

.bi-person-fill {
    color: #B5E72E;
}

/* -------------------------------------------------------- */
.container2 {
    display: flex;
    background-image: url(../img/imgtopo.jpg);
    padding-top: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box1>h1 {
    color: white;
    font-size: 60px;
    font-family: "Arial";
    text-align: center;
}

.box2>p {
    margin-top: -30px;
    color: white;
    font-family: "Arial";
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}

.box3>a {
    font-family: "Arial";
    color: white;
    border: 1px solid #B5E72E;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.2s linear;
    font-family: "Arial";
    font-weight: bold;
}

.box3>a:hover {
    background-color: #B5E72E;
    color: black;
    text-decoration: none;
}

.box3 {
    margin: 20px;
}

.bi-arrow-right {
    font-size: 20px;
    margin: 10px;
}

/* ------------------------VIDEO----------------------- */
.video {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/detalhe.svg");
    background-repeat: no-repeat;
    background-color: black;
    background-size: 120%;
    background-position: center;
    position: relative;
}

.video>video {
    border-radius: 15px;
    position: absolute;
    top: -100px;
    width: 100%;
    height: 100%;
    max-height: 700px;
    max-width: 700px;
}

.video>img {
    justify-content: center;
    position: absolute;
    top: 320px;
}

/* ------------------------container pós video----------------------- */
.backgroundvideo {
    background-color: black;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/svg\ cobra.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.backgroundvideo>h1 {
    font-family: "Arial";
    color: white;
    text-align: center;
}

.backgroundvideo>p {
    color: white;
    font-family: "Arial";
    text-align: center;
}

.backgroundvideo>img {
    width: 50px;
    margin-top: 10px;
}

/* -------------------FLEX----------------- */
/* sempre no container */
.flex {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    flex-direction: row;
    flex-direction: row-reverse;
    /* ALIGN CONTENT É PARA USAR QUANDO TIVER WRAP
    E QUEBRAR E NÃO SAIR A FORMATAÇÃO DO CONTEÚDO */
    justify-content: center;
    justify-content: flex-end;
    justify-content: flex-start;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly;
    align-items: flex-start;
    align-items: center;
    align-items: flex-end;
    align-items: stretch;
    align-items: baseline;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    flex-flow: column wrap;

    /* Tem que ter mais de uma div para funcionar */
    align-content: stretch;
    /* // Valor padrão, ele que faz com que os flex itens cresçam igualmente na vertical. */
    align-content: flex-start;
    /* // Alinha todas as linhas de itens ao início.     */
    align-content: flex-end;
    /* // Alinha todas as linhas de itens ao final. */
    align-content: space-around;
    /* // Alinha todas as linhas de itens ao centro. */
    align-content: space-between;
    /* // Cria um espaçamento igual entre as linhas. Mantendo a primeira grudada no topo e a última no bottom. */
    align-content: space-evenly;
    /* // Cria um espaçamento entre as linhas. Os espaçamentos do meio são duas vezes maiores que o top e bottom. */

    /* tem que ter espaço no container pra funcionar
    e tem que ter flex-wrap para funcionar */
}

.flex-items {

    order: 0;
    /* Tem que colocar em todos os items de uma div
    e dizer qual a ordem de cada item */
    align-self: flex-end;
    /* Serve para sobrescrever a condição de posição de um item
    separado */
}

/* -------------------CONTAINER PARTE DO TICKET----------------- */
.background-img {
    overflow: hidden;
}

.container3 {
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/* -------------------------BOX 1--------------------------- */
.box1-container3>div {
    margin: 60px 0px;
    background-color: #01242A;
    width: 370px;
    height: 370px;
    border-radius: 20px;
}

/* ------------------------BOX 2--------------------------- */
.box2-container3 {
    margin: 60px 0px;
    width: 370px;
    height: 370px;
    text-align: center;
    padding-top: 40px;
}

.box2-container3>a {
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-family: "Arial";
    background-color: #B5E72E;
    padding: 15px;
    border-radius: 10px;
    transition: all 0.2s linear;
}

.box2-container3>a:hover {
    border: 1px solid #B5E72E;
    background-color: black;
    color: white;
}

.box2-container3>P {
    margin-bottom: 20px;
    color: white;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: "Arial";
    font-weight: bold;
}

/* -------------------------BOX 4-------------------------- */
.box4-container3 {
    margin: 0px auto;
    height: 212px;
    width: 330px;
    background-color: #01242A;
    border-radius: 10px;
}

.bi-arrow-right-circle-fill {
    margin-left: 10px;
}

/* -------------------------BOX 3-------------------------- */
.box3-container3 {
    margin: 60px 0px;
    width: 370px;
    height: 370px;
    position: relative;
}

.box3-container3>img {
    width: 600px;
    position: absolute;
    bottom: -120px;
    right: -300px;
}

/* -------------------CONTAINER PARTE ACORDION----------------- */
.container-acordion {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 650px;
    width: 100%;
    background-image: url("../img/COBRA\ 2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 105%;
    flex-direction: column;
}

.box__acordion {
    background-color: #01242A;
    height: 150px;
    width: 50%;
    text-align: center;
    font-family: "Arial";
    color: white;
}

.container-acordion>a {
    font-weight: bold;
    color: white;
    text-decoration: underline black;
    font-size: 30px;
    margin-top: 30px;
    font-family: "Arial";
    transition: all 0.2s linear;
}

.container-acordion>a:hover {
    text-decoration: underline #B5E72E;
}

.bi-battery-charging {
    color: #B5E72E;
    margin-left: 10px;
    font-size: 25px;
    text-align: center;
}

/* -------------------CONTAINER RODAPÉ----------------- */
.detalhe-rodape {
    overflow: hidden;
    background-image: linear-gradient(to right, #94E20F, #38A7A0);
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.detalhe-rodape div {
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin: 0px 40px;
    padding: 0px 30px;

}

/* -------------------RODAPÉ----------------- */
.footer {
    width: 100%;
    background-color: #090909;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* -------------------BOX 1----------------- */
.boxfooter1 {
    /* border: 1px solid red; */
    margin: 30px 10px 30px 10px;
    height: 170px;
    width: 270px;
}

.boxfooter1>img {
    width: 70%;
}

/* -------------------BOX 2----------------- */
.boxfooter2 {
    /* border: 1px solid red; */
    margin: 30px 10px 30px 10px;
    height: 170px;
    width: 270px;
    border-left: 1px solid white;
}

.boxfooter2>ul li>a {
    text-decoration: none;
    color: grey;
    font-family: "Arial";
}

.boxfooter2>ul li {
    list-style: none;
    margin: 10px;
}

.boxfooter2 ul div li>a {
    font-weight: bold;
    color: white;
}

.boxfooter2>ul li>a {
    transition: all 0.2s linear;
}

.boxfooter2>ul li>a:hover {
    color: white;
}

/* -------------------BOX 3----------------- */
.boxfooter3 {
    /* border: 1px solid red; */
    border-left: 1px solid white;
    margin: 30px 10px 30px 10px;
    height: 170px;
    width: 270px;
}

.boxfooter3>ul li>a {
    text-decoration: none;
    color: grey;
    font-family: "Arial";
}

.boxfooter3>ul li {
    list-style: none;
    margin: 10px;
}

.boxfooter3 ul div li>a {
    font-weight: bold;
    color: white;
}

.boxfooter3>ul li>a {
    transition: all 0.2s linear;
}

.boxfooter3>ul li>a:hover {
    color: white;
}

/* -------------------BOX 4----------------- */
.boxfooter4 {
    /* border: 1px solid red; */
    border-left: 1px solid white;
    margin: 30px 10px 30px 10px;
    height: 170px;
    width: 270px;
}

.boxfooter4>ul li>a {
    text-decoration: none;
    color: grey;
    font-family: "Arial";
}

.boxfooter4>ul li {
    list-style: none;
    margin: 10px;
}

.boxfooter4 ul div li>a {
    font-weight: bold;
    color: white;
}

.boxfooter4>ul li>a {
    transition: all 0.2s linear;
}

.boxfooter4>ul li>a:hover {
    color: white;
}

/* -------------------COPY----------------- */
.copy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #090909;
}

.copy>a {
    color: white;
    text-decoration: none;
    font-family: "Arial";
}

.copy a>strong {
    color: #94E20F;
}