@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: black;
  align-items: center;
  height: 50px;
}

/* ---------------------- LOGO SITE------------------------- */
.box1 a > img {
  width: 100px;
  margin: 0 75px;
}

/* ----------------------Menu meio------------------------- */
.box2 ul li {
  list-style: none;
  font-family: "Arial";
}

.box2 ul li > a {
  text-decoration: none;
  font-family: "Arial";
  font-weight: bold;
  margin: 10px;
  color: white;
  transition: all 0.2s linear;
}

.box2 ul li > a:hover {
  color: #B5E72E;
}

.box2 ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* ------------------------Criar conta e entrar-------------------------------- */
.box3 li a {
  text-decoration: none;
  font-family: "Arial";
  font-weight: bold;
  margin: 10px;
  color: white;
  transition: all 0.2s linear;
}

.box3 ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box3 ul li {
  list-style: none;
}

/* ---------------------botão criar conta------------------------- */
.button2 > a {
  border: 1px solid #B5E72E;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.button2 > a:hover {
  background-color: #B5E72E;
  color: black;
}

.button1 > a:hover {
  color: #B5E72E;
}

.bi-person-fill {
  color: #B5E72E;
}

/* ---------------------botão criar conta------------------------- */
.button2 > a {
  border: 1px solid #B5E72E;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.button2 > a:hover {
  background-color: #B5E72E;
  color: black;
}

.button1 > a:hover {
  color: #B5E72E;
}

.bi-person-fill {
  color: #B5E72E;
}

/* -------------------FLEX----------------- */
/* sempre no container */
.flex {
  display: flex;
  flex-direction: column;
  flex-direction: column-reverse;
  flex-direction: row;
  flex-direction: row-reverse;
  /* ALIGN CONTENT É PARA USAR QUANDO TIVER WRAP
  E QUEBRAR E NÃO SAIR A FORMATAÇÃO DO CONTEÚDO */
  justify-content: center;
  justify-content: flex-end;
  justify-content: flex-start;
  justify-content: space-around;
  justify-content: space-between;
  justify-content: space-evenly;
  align-items: flex-start;
  align-items: center;
  align-items: flex-end;
  align-items: stretch;
  align-items: baseline;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  /* Tem que ter mais de uma div para funcionar */
  align-content: stretch;
  /* // Valor padrão, ele que faz com que os flex itens cresçam igualmente na vertical. */
  align-content: flex-start;
  /* // Alinha todas as linhas de itens ao início.     */
  align-content: flex-end;
  /* // Alinha todas as linhas de itens ao final. */
  align-content: space-around;
  /* // Alinha todas as linhas de itens ao centro. */
  align-content: space-between;
  /* // Cria um espaçamento igual entre as linhas. Mantendo a primeira grudada no topo e a última no bottom. */
  align-content: space-evenly;
  /* // Cria um espaçamento entre as linhas. Os espaçamentos do meio são duas vezes maiores que o top e bottom. */
  /* tem que ter espaço no container pra funcionar
  e tem que ter flex-wrap para funcionar */
  display: flex;
  flex-direction: row;
  flex-direction: row-reverse;
  flex-direction: column;
  flex-direction: column-reverse;
  justify-content: center;
  justify-content: space-around;
  justify-content: space-between;
  justify-content: space-evenly;
  align-items: flex-end;
  align-items: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-wrap: wrap;
  flex-wrap: wrap-reverse;
  justify-content: flex-start;
  justify-content: flex-end;
  /* align content só vai ser mais usado quando
  tiver muitos itens com flex wrap, pq ele
  junta todos e alinha */
  align-content: flex-start;
  align-content: flex-end;
  align-content: center;
}

.flex-items {
  /* fala que vai crescer 2x em relação aos outros 
  porém é interessante ter nos demais tbm*/
  flex-grow: 2;
  /* vai tentar o máximo respeitar os 200px */
  flex-basis: 200px;
  flex: 1grow 1shrink auto basis;
  order: 0;
  /* Tem que colocar em todos os items de uma div
  e dizer qual a ordem de cada item */
  /* Modifica somente um dos itens especifico */
  align-self: center;
}

/* -------------------TELA DE LOGIN----------------- */
#log-container {
  width: 100%;
  height: 100%;
  background-image: url(../img/BACKGROUND.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid red; */
}

@media screen and (max-width: 470px) {
  #log-container {
    height: 120%;
  }
}
.log-info {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log-info > h1 {
  color: white;
  text-align: center;
  font-family: "Saira";
  font-size: 40px;
}

.log-info > h3 {
  margin-top: -20px;
  margin-bottom: 30px;
  color: #363636;
  text-align: center;
  font-family: "Saira";
  font-size: 20px;
}

.log-icon > img {
  margin-top: -10px;
  margin-bottom: 50px;
  width: 100px;
}

.log-container-items {
  max-width: 1440px;
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}

.log-container-boxes {
  width: 100%;
  /* border: 1px solid red; */
  background-color: #070707;
  border-radius: 5px;
  padding-right: 30px;
  padding-left: 30px;
}

.log-form > form {
  width: 300px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.log-form form label {
  margin-left: 25px;
  align-self: flex-start;
  text-align: left;
  font-family: "Saira";
  margin-top: 7px;
  color: white;
}

.log-form-svg {
  text-align: center;
}

.log-form-svg > img {
  width: 30px;
}

.log-button {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.log-button > button {
  padding: 10px;
  width: 150px;
  font-family: "Saira";
  font-weight: bold;
  color: white;
  background-color: #101010;
  border: 0px;
  cursor: pointer;
  margin: 1px;
  border-radius: 5px;
  transition: all 0.2s ease;
}

.log-button > button:focus {
  background-color: #191919;
}

.log-form > form input {
  max-width: 500px;
  padding: 5px;
  padding-left: 45px;
  width: 320px;
  height: 35px;
  border-radius: 5px;
  border: 0px;
  outline: none;
  background-color: #3D3D3D;
  color: white;
  font-family: "Saira";
}

.log-form > form input[type=checkbox] {
  width: inherit;
  height: inherit;
}

.log-form > form input::-moz-placeholder {
  color: #4d4d4d;
  font-family: "Saira";
}

.log-form > form input::placeholder {
  color: #4d4d4d;
  font-family: "Saira";
}

.log-forgot {
  margin-left: 25px;
  margin-top: 5px;
}

.log-forgot a {
  text-decoration: none;
  color: #363636;
  font-family: "Saira";
  font-size: 14px;
  transition: all 0.2s ease;
}

.log-forgot a:hover {
  color: white;
  text-decoration: underline;
}

.log-checkbox {
  margin-top: 15px;
  margin-left: 25px;
}

.log-checkbox > label {
  color: white;
  font-family: "Saira";
  transition: all 0.2s ease;
}

.log-checkbox > label:hover {
  cursor: pointer;
  color: #a1a1a1;
}

.log-acessar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.log-acessar > button {
  padding: 8px;
  width: 120px;
  border-radius: 5px;
  border: 0px;
  background-color: #B5E72E;
  font-family: "Saira";
  font-weight: bold;
  transition: all 0.2s ease;
}

.bi-chevron-double-right {
  margin-left: 5px;
}

.log-acessar > button:hover {
  background-color: #94be1e;
  cursor: pointer;
}

/* ICONES SVG DOS INPUTS*/
.log-form {
  position: relative;
}

.log-icon-user {
  position: absolute;
  background-color: #94be1e;
  height: 35px;
  width: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  left: -10px;
  top: 25px;
  border-radius: 5px;
}

.log-icon-user > img {
  width: 22px;
}

.log-icon-password {
  position: absolute;
  background-color: #94be1e;
  height: 35px;
  width: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  left: -10px;
  top: 85px;
  border-radius: 5px;
}

.log-icon-password > img {
  width: 22px;
}

.log-icon-password2 {
  position: absolute;
  background-color: #94be1e;
  height: 35px;
  width: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  left: -10px;
  top: 146px;
  border-radius: 5px;
}

.log-icon-password2 > img {
  width: 22px;
}

.log-icon-mail {
  position: absolute;
  background-color: #94be1e;
  height: 35px;
  width: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  left: -10px;
  top: 205px;
  border-radius: 5px;
}

.log-icon-mail > img {
  width: 22px;
}

.log-icon-cpf {
  position: absolute;
  background-color: #94be1e;
  height: 35px;
  width: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  left: -10px;
  top: 266px;
  border-radius: 5px;
}

.log-icon-cpf > img {
  width: 22px;
}

.log-icon-contact {
  position: absolute;
  background-color: #94be1e;
  height: 35px;
  width: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  left: -10px;
  top: 328px;
  border-radius: 5px;
}

.log-icon-contact > img {
  width: 22px;
}

/* -------------------CONTAINER RODAPÉ----------------- */
.detalhe-rodape {
  overflow: hidden;
  background-image: linear-gradient(to right, #94E20F, #38A7A0);
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.detalhe-rodape div {
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin: 0px 40px;
  padding: 0px 30px;
}

/* -------------------RODAPÉ----------------- */
.footer {
  width: 100%;
  background-color: #090909;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* -------------------BOX 1----------------- */
.boxfooter1 {
  /* border: 1px solid red; */
  margin: 30px 10px 30px 10px;
  height: 170px;
  width: 270px;
}

.boxfooter1 > img {
  width: 70%;
}

/* -------------------BOX 2----------------- */
.boxfooter2 {
  /* border: 1px solid red; */
  margin: 30px 10px 30px 10px;
  height: 170px;
  width: 270px;
  border-left: 1px solid white;
}

.boxfooter2 > ul li > a {
  text-decoration: none;
  color: grey;
  font-family: "Arial";
}

.boxfooter2 > ul li {
  list-style: none;
  margin: 10px;
}

.boxfooter2 ul div li > a {
  font-weight: bold;
  color: white;
}

.boxfooter2 > ul li > a {
  transition: all 0.2s linear;
}

.boxfooter2 > ul li > a:hover {
  color: white;
}

/* -------------------BOX 3----------------- */
.boxfooter3 {
  /* border: 1px solid red; */
  border-left: 1px solid white;
  margin: 30px 10px 30px 10px;
  height: 170px;
  width: 270px;
}

.boxfooter3 > ul li > a {
  text-decoration: none;
  color: grey;
  font-family: "Arial";
}

.boxfooter3 > ul li {
  list-style: none;
  margin: 10px;
}

.boxfooter3 ul div li > a {
  font-weight: bold;
  color: white;
}

.boxfooter3 > ul li > a {
  transition: all 0.2s linear;
}

.boxfooter3 > ul li > a:hover {
  color: white;
}

/* -------------------BOX 4----------------- */
.boxfooter4 {
  /* border: 1px solid red; */
  border-left: 1px solid white;
  margin: 30px 10px 30px 10px;
  height: 170px;
  width: 270px;
}

.boxfooter4 > ul li > a {
  text-decoration: none;
  color: grey;
  font-family: "Arial";
}

.boxfooter4 > ul li {
  list-style: none;
  margin: 10px;
}

.boxfooter4 ul div li > a {
  font-weight: bold;
  color: white;
}

.boxfooter4 > ul li > a {
  transition: all 0.2s linear;
}

.boxfooter4 > ul li > a:hover {
  color: white;
}

/* -------------------COPY----------------- */
.copy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #090909;
}

.copy > a {
  color: white;
  text-decoration: none;
  font-family: "Arial";
}

.copy a > strong {
  color: #94E20F;
}

/* -------------------CONTAINER RODAPÉ----------------- */
.detalhe-rodape {
  overflow: hidden;
  background-image: linear-gradient(to right, #94E20F, #38A7A0);
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.detalhe-rodape div {
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin: 0px 40px;
  padding: 0px 30px;
}/*# sourceMappingURL=sign.css.map */